body {
  background-color: rgba(0, 0, 0, 0.938);;
  opacity: 0.95;

}
.list-list {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding:1%;
    size: 50px;
    
  }
  .btn btn-primary{
margin-right: 20px;
margin: 50%;

  }
  .title {
    text-align: center;
    color: var(--bs-blue);
    background-color:rgba(75, 161, 241, 0.24); 
    padding: 50px 10px; /* Some padding */
    color: white;
    text-align: center; /* Centered text */
    font-size: 40px; /* Big font size */
    font-weight:bold;
    position:static; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    transition: 6.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
    
    
  }
  .return-button{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 90%;
    margin-bottom: 0.5%;
    padding: 0.2rem 1.0rem;
    text-align: center;
    background-color: #13728f;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 18px;
  }
 
  button:disabled {
    background-color: #eee;
    color: #aaa; 
    cursor: auto;
  }
  .cover {
    background: #d1d1d1;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  
  button:hover span {
    width: 100%;
  }
  
  button:hover {
    border: none;
  }
  
.badge{
    font-size: calc(1rem + 0.5vw);
    text-align: center;
    color: rgba(60, 137, 226, 0.938);
    
}


/* PRODUCTS */
.product {
  
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
  color: rgb(75, 161, 241);
  
  
}
.product-brand {
color: rgb(75, 161, 241);
text-align: center;
 }
.product-container {
  padding: 10 10vw;
  display: flex;
  overflow-x:scroll;
  scroll-behavior: smooth;

}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.year-tag {
  position: absolute;
  background: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  color: rgb(15, 128, 233);
  right: 10px;
  top: 10px;
  text-transform: capitalize;
  opacity: 80%;
  font-weight: bolder;
}
.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

